@keyframes heartbeat-1
{
   0% { transform: rotate(0deg) ;  }
   15% { transform: rotate(0deg) scale(1.2,1.2) ;  }
   25% { transform: rotate(0deg) scale(1.1,1.1) ;  }
   35% { transform: rotate(0deg) scale(1.2,1.2) ;  }
   100% { transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@keyframes heartbeat-2
{
   0% { transform: rotate(0deg) ;  }
   20% { transform: rotate(0deg) scale(1.25,1.25) ;  }
   40% { transform: rotate(0deg) scale(1.0,1.0) ;  }
   60% { transform: rotate(0deg) scale(1.25,1.25) ;  }
   80% { transform: rotate(0deg) scale(1.0,1.0) ;  }
   100% { transform: rotate(0deg) scale(1.0,1.0) ;  }
}
a.style1
{
   color: #0000FF;
   text-decoration: underline;
}
a.style1:visited
{
   color: #800080;
   text-decoration: underline;
}
a.style1:active
{
   color: #FF0000;
   text-decoration: underline;
}
a.style1:hover
{
   color: #0000FF;
   text-decoration: underline;
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   --color: #2E74B5;
   background-color: transparent;
}
.style1
{
   text-decoration: none;
   background-color: transparent;
}
.style2
{
   font-weight: bold;
   font-size: 48px;
   font-style: normal;
   text-align: justify;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: #A9A9A9;
   --background-color: rgba(169,169,169,1.00);
   background-clip: padding-box;
   border: 0 solid transparent;
   --border-color: #800000;
   box-shadow: 2px 2px 1px #000000;
}
.darktheme .style2
{
   color: #000000;
   --color: #000000;
   background-color: #A9A9A9;
   --background-color: rgba(169,169,169,1.00);
   border: 0 solid transparent;
   --border-color: #800000;
   box-shadow: 2px 2px 1px #FEFEFE;
}
